{{ define "main" }}

<div class="container">
  <section>
      <article>
        <header>
          <h1>{{ .Title }}</h1>
          {{ if .Params.group }}
            <h3>
                <p>{{ .Params.group }}</p>
            </h3>
          {{ end }}
        </header>
    
        <div class="extracto-single-grid">
          <div class="col">
            {{ with .Resources }}
              {{ with .GetMatch "{cover.*,*.jpg,*.png,*.jpeg}" }}
                   {{ $cover := .Resize "600x" }}
                   {{ with $cover }}
                       <a href="{{ .Permalink }}" class="img-permalink"><img src="{{ .Permalink }}"/>      </a>
                   {{ end }}
              {{ end }}
            {{ end }}
          </div>
          <div class="col text">
              {{ .Content }}
              <br>
              <p>Lee el texto completo en: <a href="{{ .Params.siteUrl }}">{{ .Params.site }}</a></p>
          </div>

          
        </div>
        
      </article>
  </section>
</div>
  
{{ end }}