<head>
  <link rel="stylesheet" href="/css/custom-bulma.min.css">

  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>

  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
            Hola, soy Mané López.
        </h1>
        <br>
        <h2></h2>
        <h2></h2>
        <h2></h2>
      </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li><a>Biografía</a></li>
            <li><a>Artículos seleccionados</a></li>
            <li><a>Contacto</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</body>