<head>
  <link rel="stylesheet" href="/css/custom-bulma.min.css">
  <link rel="stylesheet" href="/css/hero.css">

  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>

<body>

    <section class="hero is-fullheight">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                Hola, soy Mané López.
            </h1>
            <br>
            <h2>Biografía</h2>
            <h2>Artículos seleccionados</h2>
            <h2>Contacto</h2>
          </div>
        </div>
      </section>
</body>