html {
  background-color: black;
}

.tiledBackground {
  
  background-size: 450px;
  
}

.hero {
  background-color: black;
  color: white;

  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center; 
}

.hero-body h2 {
  font-weight: 700;
}

.title {
  font-family: "Space Mono";
  font-size: 2rem;
  font-weight: 700;
  color: white;
}