.extracto-grid {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}

.extracto-grid .extracto {
  width: 32%;

  margin-bottom: 48px;
}

.extracto-grid .extracto {
  width: 32%;

  margin-bottom: 48px;
}

@media (max-width: $break-medium) {
  .extracto-grid {
    display: block;
  }

  .extracto-grid .extracto {
    width: 100%;
  }
}

.extracto img {
  width: 100%;
}

.img-permalink {
  border: none;
  background: none;
}