$break-medium: 600px;
$break-large: 1000px;

@import 'normalize';
@import 'form';
@import 'header';
@import 'pagination';
@import 'index';
@import 'extractos';

body a {
  
  text-decoration: none;
  border-bottom: .1em dotted;

  color: white;
  background: #1f1f1f none repeat scroll 0 0;
}

body a:hover {
  outline: 0;

  border-bottom-style: solid;
  border-bottom-color: inherit;
}

body a:visited {
  //color: #e888b6;
  color: white;
}


html {
  font-family: 'Space Mono', 'Courier New', Courier, monospace;

  background-color: black;
  color: white;
}

body {

  max-width: 1000px;
  margin: auto;
  margin-top: 0;
  padding: 0;

  @media screen and (max-width: $break-large) {
    padding-left: 16px;
    padding-right: 16px;
  }

}

body .container p {
  line-height: 1.5;

  @media screen and (min-width: $break-medium) {
    font-size: 1.2em;
  }
  
}

footer {
  margin-top: 16px;
}
